<!DOCTYPE HTML>
<html lang= "en">
<head>
	<title>Home</title>
	<meta charset= "UTF-8" />
	<link rel="stylesheet" type="text/css" href="mystyle.css">
</head>

<body>
	<ul>
		<li><a class="active" href="index.html">Home</a></li>
		<div class="dropdown">
			<button class="dropbtn">About Me
				<i class='fa fa-caret-down'></i>
			</button>
			<div class="dropdown-content">
				<a href="">Biography</a>
				<a href="">Resume</a>
				<a href="">Contact Me</a>
			</div>
		</div>
		<li><a href="projects.html">Projects</a></li>
		<li><a href="site.html">Version History</a></li>
		<li><a href="contact.html">Contact Me</a></li>
	</ul>
</body>
</html>