<!DOCTYPE HTML>
<html lang= "en">
<head>
	<title>Projects</title>
	<meta charset= "UTF-8" />
	<link rel="stylesheet" type="text/css" href="mystyle.css">
</head>


<body>
	<ul>
		<li><a href="index.html">Home</a></li>
		<li><a href="about.html">About Me</a></li>
		<li><a href="projects.html">Projects</a></li>
		<li><a href="site.html">Version History</a></li>
		<li><a class="active" href="contact.html">Contact Me</a></li>
	</ul>

	<h2>
		Email me at:
	</h2>

	<p> 
	ajl6yc@virginia.edu
	</p>
</body>
</html>