<!DOCTYPE HTML>
<html lang= "en">
<head>
	<title>Home</title>
	<meta charset= "UTF-8" />
	<link rel="stylesheet" type="text/css" href="mystyle.css">
</head>

<body>
	<ul>
		<li><a class="active" href="index.html">Home</a></li>
		<li><a href="about.html">About Me</a></li>
		<li><a href="projects.html">Projects</a></li>
		<li><a href="site.html">Version History</a></li>
		<li><a href="contact.html">Contact Me</a></li>
	</ul>

	<h1>Welcome to my website</h1>
	<p> My name is Anthony Lancaster and I am a fourth year Bachelors of Science in Computer Science student at the University of Virginia in Charlottesville, Virginia. This website is a little project for me to work on various coding concepts and help to strengthen my skills as a programmer. I apologize for its current, incomplete state as it is a work in progress. Stick around, and see what progress occurs in the future!</p>
</body>
</html>