body{
	background-color: #00008B; /* Dark blue*/
}

h1{
	color: #696969; /*Dim grey*/
}

h2{
	color: #D3D3D3; /*Light grey*/
}

h3{
	color: #F5F5F5; /*white smoke*/
}

p{
	color: #DCDCDC; /*Gainsboro*/
}

ul{
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #696969;
	position: -webkit-sticky;
	position:sticky;
	top:0;
	width:100%;
}

li{
	float: left;
}

li a{
	display: block;
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}

li a:hover{
	background-color: #DCDCDC;
	color: black;
}

li a:visited{
	color: white;
}


.active{
	background-color: #B22222; /*Fire brick*/
}

.hyperlink{
	color: #00FFFF; /*aqua*/
}

a:visited{
	color:#7FFF00; /*chartreuse*/
}

a:hover{
	color:#00BFFF; /*deep sky blue*/
}

a:active{
	color:#F08080; /*coral*/
}