<!DOCTYPE HTML>
{% load static %}
<html lang= "en">

<head>
	<title>Projects</title>
	<meta charset= "UTF-8" />
	<link rel="stylesheet" type="text/css" href="{% static 'css/mystyle.css' %}">
</head>

<body>
	<ul>
		<li><a href="{% url 'index' %}">Home</a></li>
		<div class="dropdown">
			<button class="dropbtn">About Me
				<i class='fa fa-caret-down'></i>
			</button>
			<div class="dropdown-content">
				<a href="{% url 'biography' %}">Biography</a>
				<a href="{% url 'resume' %}">Resume</a>
				<a href="{% url 'contact' %}">Contact Me</a>
			</div>
		</div>
		<li><a class="active" href="{% url 'projects' %}">Projects</a></li>
		<li><a href="{% url 'site' %}">Version History</a></li>
	</ul>		
	<h1>
		Currently in Progress Projects
	</h1>
	<h2>
		 Smart Charlottesville
	</h2>
	<p>
		Smart Charlottesville: Design the Future is my fourth year computer science capstone project. I am working on a team with six other engineering students in order to build this site. Our client has a dream of bridging the gap between the University of Virginia and local community organizations and community members. His goal is to provide a medium where all of Charlottesville can come together and discuss problems with the city and find solutions / resources to make it better.
	</p>
	<p> 
		As a team, we are developing a Django application in order to meet the needs and requirements of our client. We meet up bi-weekly to discuss progress we have made and collect new or revised requirements on what the end product should look like.
	</p>
	<p> 
		This project began in mid-August of 2019 and will continue until our graduation in May of 2020. From here, the project will ideally passed on to another capstone group following us, in order to ensure that the site will constantly be evolving to me the needs of our client and the city. The team I am apart of is the innagural development team and has created everything that currently exists.
	</p>
	<p>
		The temporary home for the project is <a class="hyperlink" href="http://smart-cville.herokuapp.com/">here</a>.
	</p>
	<p>
		We are currently in the process of migrating the app to a new home <a class="hyperlink" href="http://sc-dev.qubi3rnkcn.us-west-2.elasticbeanstalk.com/">here</a>, but we are still working out some details.
	</p>
	<h2>
		 Professional Site
	</h2>
	<p>
		My professional site is a fun little side project that I started in order to refamiliarize myself with basic HTML and CSS. It is meant to serve as a sort of online resume where I can constantly have the most up to date version of my portfolio for potential employers to view.
	</p>
	<p> This site is currently hosted <a class="hyperlink" href="https://tlancaster20.github.io/tonys-site/">here</a>.
	</p>
	<h2>
		Personal Site
	</h2>
	<p>
		This current site originated as a migration of my smaller personal site to the Django platform, so that I would be able to practice additional web development skills. My personal site is not intended to be as much of a professional site, but mainly for me to have fun and try new things just to learn and see what I can do. I hope to continue to evolve this site in the future and add new features and use it as part of my life long learning endeavour.
	</p>
	<p>
		This site is currently hosted <a class="hyperlink" href="https://tonys-site.herokuapp.com/">here</a>.
	</p>
	<h1>
		Past Projects
	</h1>
	<p>
		No completed projects yet! Come back later to see some!
	</p>
</body>
</html>