<!DOCTYPE HTML>
<html lang= "en">
<head>
	<title>Projects</title>
	<meta charset= "UTF-8" />
	<link rel="stylesheet" type="text/css" href="mystyle.css">
</head>



<body>
	<ul>
		<li><a href="index.html">Home</a></li>
		<li><a href="about.html">About Me</a></li>
		<li><a class="active" href="projects.html">Projects</a></li>
		<li><a href="site.html">Version History</a></li>
		<li><a href="contact.html">Contact Me</a></li>
	</ul>
	<h1>
		Currently in Progress Projects
	</h1>
	<h2>
		 Smart Charlottesville
	</h2>
	<p>
		Smart Charlottesville: Design the Future is my fourth year computer science capstone project. I am working on a team with six other engineering students in order to build this site. Our client has a dream of bridging the gap between the University of Virginia and local community organizations and community members. His goal is to provide a medium where all of Charlottesville can come together and discuss problems with the city and find solutions / resources to make it better.
	</p>
	<p> 
		As a team, we are developing a Django application in order to meet the needs and requirements of our client. We meet up bi-weekly to discuss progress we have made and collect new or revised requirements on what the end product should look like.
	</p>
	<p> 
		This project began in mid-August of 2019 and will continue until our graduation in May of 2020. From here, the project will ideally passed on to another capstone group following us, in order to ensure that the site will constantly be evolving to me the needs of our client and the city. The team I am apart of is the innagural development team and has created everything that currently exists.
	</p>
	<p>
		The temporary home for the project is <a class="hyperlink" href="http://smart-cville.herokuapp.com/">here</a>.
	</p>
	<p>
		We are currently in the process of migrating the app to a new home <a class="hyperlink" href="http://sc-dev.qubi3rnkcn.us-west-2.elasticbeanstalk.com/">here</a>, but we are still working out some details.
	</p>
	<h2>
		 Tony's Site
	</h2>
	<p>
		This website is a fun little side project that I started in order to refamiliarize myself with HTML and CSS, as well as learn some other fun things for webdevelopment. I hope to continue to evolve this site in the future and add new features and use it as part of my life long learning endeavour.
	<h1>
		Past Projects
	</h1>
	<p>
		No completed projects yet! Come back later to see some!
	</p>
</body>
</html>