<!DOCTYPE HTML>
<html lang= "en">

<head>
	<title>Version History</title>
	<meta charset= "UTF-8" />
	<link rel="stylesheet" type="text/css" href="{% static 'css/mystyle.css' %">
</head>

<body>
	<ul>
		<li><a href="{% url 'index' %}">Home</a></li>
		<div class="dropdown">
			<button class="dropbtn">About Me
				<i class='fa fa-caret-down'></i>
			</button>
			<div class="dropdown-content">
				<a href="{% url 'biography' %}">Biography</a>
				<a href="{% url 'resume' %}">Resume</a>
				<a href="{% url 'contact' %}">Contact Me</a>
			</div>
		</div>
		<li><a href="{% url 'projects' %}">Projects</a></li>
		<li><a class="active" href="{% url 'site' %}">Version History</a></li>
	</ul>
	<h1>
		Version History
	</h1>		
	<p> 
		** Note: Version 1 is still currently operating in existence as a seperate website **
	</p>
	<h2> Currently Operating Versions</h2>
	<h3> 
		Version 2.0
	</h3>
	<p> * Migration of application from HTML and CSS exclusive format to the Django platform <br>
		* Includes all same sections with the addition of an online available resume <br>
		* Changes some layout of the navigation bar
	<h2>
		Past Versions
	</h2>
	<h3>
		Version 1.0
	</h3>
	<p>
		* Simple HTML and CSS built website running off of GitHub pages <br>
		* Still currently operating <a class="hyperlink" href="https://tlancaster20.github.io/tonys-site/">here</a> as a professional webite <br>
		* Features inclue contact information, about page, and project portfolio
	</p>
</body>
</html>