<!DOCTYPE HTML>
<html lang= "en">
<head>
	<title>Version History</title>
	<meta charset= "UTF-8" />
	<link rel="stylesheet" type="text/css" href="mystyle.css">
</head>



<body>
	<ul>
		<li><a href="index.html">Home</a></li>
		<li><a href="about.html">About Me</a></li>
		<li><a href="projects.html">Projects</a></li>
		<li><a class="active" href="site.html">Version History</a></li>
		<li><a href="contact.html">Contact Me</a></li>
	</ul>
	<p> 
	This page is still under construction!
	</p>
</body>
</html>